In [82]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [83]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [84]:
sid = SentimentIntensityAnalyzer()

In [85]:
a = 'The product is so good but quality compromised'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.747, 'pos': 0.253, 'compound': 0.3336}

In [86]:
import pandas as pd
df = pd.read_csv('product_reviews.csv')

In [87]:
df.head()

   Unnamed: 0                                      prodct_review
0           0                                           Love it!
1           1                            Gotta collect them all!
2           2                                 A.D.D.I.C.T.E.D.❣️
3           3                                            Day two
4           4  Excellent formula, but be careful in color sel...

In [88]:
df['prodct_review'].isnull().sum()

0

In [89]:
sid.polarity_scores(df.loc[9]['prodct_review'])

{'neg': 0.0, 'neu': 0.443, 'pos': 0.557, 'compound': 0.7204}

In [90]:
df['scores'] = df['prodct_review'].apply(lambda review: sid.polarity_scores(review))

In [91]:
df.head()

,Unnamed: 0,prodct_review,scores
0,0,Love it!,"{'neg': 0.0, 'neu': 0.182, 'pos': 0.818, 'comp..."
1,1,Gotta collect them all!,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,2,A.D.D.I.C.T.E.D.❣️,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,3,Day two,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,4,"Excellent formula, but be careful in color sel...","{'neg': 0.0, 'neu': 0.585, 'pos': 0.415, 'comp..."

In [92]:
df['compound'] = df['scores'].apply(lambda score_dict: score_dict['compound'])
df.tail()

,Unnamed: 0,prodct_review,scores,compound
153,153,"Beautiful Color and Stays On, Last Long.","{'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'comp...",0.5994
154,154,Perfect 100% recommend,"{'neg': 0.0, 'neu': 0.139, 'pos': 0.861, 'comp...",0.7351
155,155,Flakey/blotchy,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
156,156,Try Maybelline's 24 HR instead.,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
157,157,Amazing and long lasting,"{'neg': 0.0, 'neu': 0.441, 'pos': 0.559, 'comp...",0.5859

In [93]:
def parse_values(x):
    if x < 0:
       return 'negative'
    elif x == 0:
       return 'neutral'
    else:
       return 'positive'
df['comp_score'] = df['compound'].apply(parse_values)

In [94]:
df.head()

,Unnamed: 0,prodct_review,scores,compound,comp_score
0,0,Love it!,"{'neg': 0.0, 'neu': 0.182, 'pos': 0.818, 'comp...",0.6696,positive
1,1,Gotta collect them all!,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
2,2,A.D.D.I.C.T.E.D.❣️,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
3,3,Day two,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
4,4,"Excellent formula, but be careful in color sel...","{'neg': 0.0, 'neu': 0.585, 'pos': 0.415, 'comp...",0.5023,positive

In [95]:
df['comp_score'].value_counts()

positive    86
neutral     61
negative    11
Name: comp_score, dtype: int64