In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
sid = SentimentIntensityAnalyzer()

In [4]:
a = 'The product is so good but quality compromised'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.747, 'pos': 0.253, 'compound': 0.3336}

In [5]:
import pandas as pd
df = pd.read_csv('product_reviews.csv')

In [6]:
df.head()

   Unnamed: 0                                      prodct_review
0           0                                           Love it!
1           1                            Gotta collect them all!
2           2                                 A.D.D.I.C.T.E.D.❣️
3           3                                            Day two
4           4  Excellent formula, but be careful in color sel...

In [7]:
df['prodct_review'].isnull().sum()

0

In [8]:
sid.polarity_scores(df.loc[9]['prodct_review'])

{'neg': 0.0, 'neu': 0.443, 'pos': 0.557, 'compound': 0.7204}

In [9]:
df['scores'] = df['prodct_review'].apply(lambda review: sid.polarity_scores(review))

In [10]:
df.head()

,Unnamed: 0,prodct_review,scores
0,0,Love it!,"{'neg': 0.0, 'neu': 0.182, 'pos': 0.818, 'comp..."
1,1,Gotta collect them all!,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,2,A.D.D.I.C.T.E.D.❣️,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,3,Day two,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,4,"Excellent formula, but be careful in color sel...","{'neg': 0.0, 'neu': 0.585, 'pos': 0.415, 'comp..."

In [11]:
df['compound'] = df['scores'].apply(lambda score_dict: score_dict['compound'])
df.tail()

,Unnamed: 0,prodct_review,scores,compound
84,84,This Stuff Stays Put,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
85,85,Amazing!!,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.6580
86,86,Love the color!,"{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'comp...",0.6696
87,87,Maybelline Got It Right!,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
88,88,Stays PUT!,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000

In [12]:
def parse_values(x):
    if x < 0:
       return 'negative'
    elif x == 0:
       return 'neutral'
    else:
       return 'positive'
df['comp_score'] = df['compound'].apply(parse_values)

In [13]:
df.head()

,Unnamed: 0,prodct_review,scores,compound,comp_score
0,0,Love it!,"{'neg': 0.0, 'neu': 0.182, 'pos': 0.818, 'comp...",0.6696,positive
1,1,Gotta collect them all!,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
2,2,A.D.D.I.C.T.E.D.❣️,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
3,3,Day two,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
4,4,"Excellent formula, but be careful in color sel...","{'neg': 0.0, 'neu': 0.585, 'pos': 0.415, 'comp...",0.5023,positive

In [14]:
df['comp_score'].value_counts()

positive    47
neutral     37
negative     5
Name: comp_score, dtype: int64

In [16]:
df.to_csv('sentiments.csv')